.ModalContainer {
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: #f6f6f6;
}
.Toolbar {
  display: flex;
  align-items: center;
  position: relative;
  height: 48px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #ffffff;
}
.HeaderTitle {
  margin: 0px auto;
  color: #5b5555;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
.CloseIcon {
  margin-right: 20px;
}
.Box {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  /* position: static;
  left: 0px;
  top: 0px; */
  background: #ffffff;
}
.SearchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  /* position: static;
  left: 8px;
  top: 8px; */
  width: 344px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 auto;
}
.SearchIcon {
  position: relative;
  right: 1.5%;
  top: 4.17%;
  bottom: 4.34%;
  color: #b6b3b3;
}
.SearchInput {
  width: 288px;
  height: 20px;
  color: #b6b3b3;
  font-size: 14px;
  line-height: 20px;
  border: none;
}
.DescriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  width: 360px;
  height: 118px;
  background: #ffffff;
}
.Description {
  width: 257px;
  height: 54px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  color: #b6b3b3;
}
.Footer {
  padding: 16px;
  background: rgb(150 150 150 / 10%);
  height: 100vh;
}
.FooterDescription {
  width: 328px;
  height: 90px;
  line-height: 18px;
  font-size: 12px;
  color: #b6b3b3;
  z-index: 10;
}
