.careWrapper {
  min-height: 100vh;
  max-width: 768px;
  padding: 0 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.pagination {
  color: #5b5555;
  font-size: 16px;
  font-weight: 700;
}

.pagination span {
  font-size: 12px;
  font-weight: 700;
}
.pagination span:first-child {
  color: #ff8450;
}

.pagination span:last-child {
  color: #d3d2d2;
}
