.careInputWarp {
  width: 100%;
}

.careInputWarp p {
  color: #5b5555;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}

.careInputWarp select {
  width: 328px;
  height: 48px;
  padding: 0 10px;
  background: #f6f6f6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0px;
  outline: none;
  border: none;
  border-radius: 5px;
}
