.modalBg {
  position: absolute;
  width: 360px;
  height: 811px;
  left: 0px;
  top: -1px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #ffffff;
  position: absolute;
  width: 360px;
  height: 556px;
  left: 0px;
  top: 255px;
  border-radius: 16px 16px 0px 0px;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px 16px;
  width: 360px;
  height: 76px;
}

.modalHeader > div {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.show {
  display: block;
}
